.project-Title {
  -fx-font: 16px "Sans-Serif";
}

.main-Pain {
  -fx-background-color: #444444;
  -fx-border-width: 5px;
  -fx-border-color: white;
  
}

.main-Text-Color {
  -fx-text-fill: #ffffff;
}

.bars {
  -fx-stroke: #ffffff;
}

.logo {
  -fx-fill: #ffffff;
}
